#IDTextSelector {
font-style: normal;
font-family: 'Times New Roman', Times, serif;
color: gold;
}


article>p {
letter-spacing: 2px;

}

.Textcolor {

    color: navy;
}

#textshadow{
    text-shadow: 3px 3px 6px;color: blue;
}

#textshadow p {
    text-shadow: 3px 3px 6px;color: blue;
}

#Spook{
    background-color: blueviolet;
}

#Spook+p{

    background-color: blueviolet;

    letter-spacing: 30px;

}

#Spook0{
    background-color: rgb(255, 0, 0);
    border-style: ridge;color: rgb(98, 0, 255);

}

#Spook0+h2{
background-color: rgb(60, 255, 0);
border-style: ridge;color: chartreuse;

}

header>h2{
border-color: blueviolet;
border-style: groove;
letter-spacing: 25px;
text-shadow: 3px 3px 6px;color: crimson;
background-color: blue;
}

article>p{
    border-style: groove;color: chartreuse;
    background-color: black;
}

article>h2{
letter-spacing: 100px;
border-style: double;color: gold;
border-radius: 10px;
background-color: aqua;
}